.back-school {
    background-color: #d9e4cc;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &__button {
            font-size: 1.4rem;
            font-family: $font-main;
            padding: 16px 32px 16px 32px;
            color: white;
            background-color: $color-brand;
            border: 1px solid $color-brand;
            border-radius: 32px;
            margin-top: 13px;
            margin-bottom: 40px;
        }
        &__images{
            font-family: $font-title;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px;
            margin-top: 20px;

            @media (width>768px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }
        &__articles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
                &--pic {
                    width: 50%;
                    border-radius: 50%;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);}  
                &--title {
                    font-size: 1.1rem;
                    font-weight: 600;}
        }
}

.school h5,h2 {
    font-family: $font-title;
    font-weight: bold;
}

.school h2 {font-size: 1.2rem;}

.school h5 {
    color: $color-text;
    font-size: 1rem;
    padding: 10px;}