.footer {background-color: #4a4a4a ;
  padding: 18px;
  position: relative;

.links {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 2fr 2fr 1fr;

  @media (width>768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: baseline;

  }

&__market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: $font-main;
  font-size: 1.2rem;
  font-weight: 300;
  gap: 16px;
  margin-top: 70px;

      @media (width>768px) {
          order: 1;
      }

  &--item a {
      color: white;
      text-decoration: none;
  }
}

&__rrss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: $font-main;
  font-size: 1.2rem;
  font-weight: 300;
  gap: 16px;
  margin-top: 30px;
  margin-bottom: 30px;

      @media (width>768px) {
          order: 2;
  }

  &--item a {
      color: white;
      text-decoration: none;
  }
}

&__copy {
  color: white;
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}


} }