<section class="back-school" id="school">
    <h5>¡Prepáralos con tus marcas favoritas!</h5>
    <h2>VUELTA AL COLE</h2>

    <div class="back-school__images">
        <load src="/partials/image.html" image="./images/niña-school.png" descrip="niña con una mochila"/>
        <load src="/partials/image.html" image="./images/pencilcase-boy.png" descrip="Imagen de un niño con un estuche" />
        <load src="/partials/image.html" image="./images/gymbag-girl.png" descrip="Imagen de una niña con una bolsa de deporte" />
    </div>
    
    <button class="back-school__button">Empezar ahora</button>

</section>