<section class="back-school" id="school">
    <h5>¡Prepáralos con tus marcas favoritas!</h5>
    <h2>VUELTA AL COLE</h2>

    <div class="school__articles">
        <load src="/partials/article-school.html" image="/images/niña-school.png" alt="niña con una mochila" image__title="mochilas escolares"/>
        <load src="/partials/article-school.html" image="/images/niño-estuches.png" alt="Imagen de un niño con un estuche"image__title="estuches"  />
        <load src="/partials/article-school.html" image="/images/niña-deporte.png" alt="Imagen de una niña con una bolsa de deporte" image__title="bolsas de deportes" />
    </div>
    
    <button class="back-school__button">Empezar ahora</button>

</section>