<footer class="footer">
  <a href="#hero" class="footer__button">
  </a>

  <div class="links">
    <ul class="links__market">
      <li class="links__market--item"><a href="https://adalab.es/">ZAPATILLAS</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">ROPA</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">NIÑO/A</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">DESTACADOS</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">TIPS</a></li>
    </ul>
    <ul class="links__rrss">
      <li class="links__market--item"><a href="https://adalab.es/">TWITTER</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">INSTAGRAM</a></li>
      <li class="links__market--item"><a href="https://adalab.es/">YOUTUBE</a></li>
     </ul>
    
     <div class="link__copy">
     <p>&copy;2023</p>
     <p>we ♥ run</p>
     </div>
  </div>


</footer>
